<div id="login-module"></div>
<div id="search-module"></div>
<script>window._user={{user}}</script>
<script src="/common.js"></script>
<script src="/search.js"></script>
<script src="/login.js"></script>
